<!-- Takes data from parent first -->
{% extends "main.html" %}

{% block title %}Book Info{% endblock %}
{% block head %}
<!-- {{ super() }} is to render the contents of parent head -->
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bookinfo.css') }}">
{% endblock %}

{% block content %}
<div>
    {% for book in books %}
    <div class="bookBlock">
        <img src="{{book.imgUrl}}">
        <div class="infoText">
            <div> Title: {{book.title}} </div>
            <div> Author: {{book.author_id}} </div>
            <div> Genre: {{book.genre}} </div>
            <div> ISBN: {{book.ISBN}} </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}