<!-- Takes data from parent first -->
{% extends "main.html" %}

{% block title %}Book Info{% endblock %}
{% block head %}
<!-- {{ super() }} is to render the contents of parent head -->
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bookinfo.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="bookBlock">
        <img src="{{books.imgUrl}}">
        <div class="infoText">
            <div> Title: {{books.title}} </div>
            <div> Genre: {{books.genre}} </div>
            <div> ISBN: {{books.ISBN}} </div>
            <div> Author: {{author.firstName}} {{author.lastName}} </div>
        </div>
    </div>
</div>
{% endblock %}